.banner-area {
    width: 100%;
    height: auto;
}

.banner-area img {
    width: 100%;
    height: auto;
}

.banner-area img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.banner-area h1 {
    position: absolute;
    float: right;
    color: white;
    top: 21.55%;
    right: 1%;
    left: 57%;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: inline;
}