/*------------------------------------*/
/* IT ENCAPSULATES MAIN DIV FOR CARDS*/
/*------------------------------------*/
.main-content {
    margin-top: -3px;
    margin-bottom: 10px;
    width: 100%;
    height: 450px;
    background-color: #292727;
}

.main-content h2 {
    position: relative;
    top: 18px;
    color: white;
    left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
/*------------------------------------*/
/*END OF ENCAPSULATION DIV FOR CARDS CONTENT MAIN*/
/*------------------------------------*/

/*------------------------------------*/
/*START CARDS CONTENT*/
/*------------------------------------*/
.cards-content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.card {
    width: 290px;
    height: 350px;
    float: left;
    margin: 5px;
    margin-top: 35px;
    background-color: rgb(240, 66, 66);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.card img {
    border-radius: 20px;;
    width: 99.95%;
    height: fit-content;
    margin: auto;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(121, 0, 0);
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.card p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(240, 234, 234);
    text-align: center;
    margin-top: -12.5px;
    margin-bottom: 0.75rem;
}

.card a {
    text-decoration: none;
    color:rgb(121, 0, 0);
}
/*------------------------------------*/
/*END CARDS CONTENT*/
/*------------------------------------*/

/*------------------------------------*/
/*HOVER CARD EFFECT*/
/*------------------------------------*/
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.607);
}

.card h3:hover {
    color: rgb(240, 234, 234);
}