.higlights-title-area {
    width: 100%;
    height: 350px;
    background-color: #fe0000;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 70px;
    font-size: 2.5rem;
    font-weight: 700;
}

.higlights-content-area {
    width: 100%;
    height: 600px;;
    background-color: #292727;
    color: white;
    text-align: center;
    margin-top: 70px;
    padding-top: 50px;
    font-size: 1.5rem;
    font-weight: 700;
}

.higlights-content-area iframe {
    width: 100%;
    height: 100%;
    margin-top:-50px;
}