.title-area {
    width: 100%;
    height: 200px;
    background-color: #fe0000;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 45px;
    font-size: 2.5rem;
    font-weight: 700;
}

.history-content-area {
    width: 100%;
    height: 600px;;
    background-color: #292727;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 35px;
    font-size: 1.5rem;
    font-weight: 700;
}

.history-content-area p {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 25px;
    color: white;
    text-align: center;
    margin-top: -1.5rem;
    margin-bottom: 1.30rem;
}

.history-card {
    width: 400px;
    height: 430px;
    align-content: center;
    margin: 280px;
    margin-top: 10px;
    background-color: rgb(240, 66, 66);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

}

.history-card img {
    border-radius: 20px;;
    width: 99.95%;
    height: fit-content;
    margin: auto;
}

.history-card a {
    text-decoration: none;
    color:rgb(121, 0, 0);
}